{% extends "base.twig" %}

{% block onload %} drawAboutPostNote() {% endblock %}

{% block title %} About {% endblock %}

{% block postit %}<canvas id="aboutpostcard" class="postitheader">About Us</canvas>{% endblock %}

{% block header %} The Agile Music Project - AMP {%endblock%}

{% block pageClass %} aboutPage {% endblock %}

{% block content %}

{% if is_granted('ROLE_ADMIN') %}
  <form>
    <input onclick="location.href='/about/add'" type="button" value="Add Content"/>
  </form>
{% endif %}
{% for row in results %}
  <p class="aboutPageText">{{ row.content|raw }}</p>
  {% if is_granted('ROLE_ADMIN') %}
    <form>
      <input onclick="location.href='/about/edit/{{ row.id }}'" type="button" value="Edit"/>
    </form>
    <form method="post" action="/about/">
      <input class="deleteID" name="id" type="hidden" id="id" value="{{ row.id }}">
      <input type="submit" value="Delete">
    </form>
  {% endif %}
{% endfor %}

{% endblock %}
