{% extends "base.twig" %}

{% block onload %} drawAboutPostNote() {% endblock %}

{% block title %} About {% endblock %}

{% block postit %}<canvas id="aboutpostcard" class="postitheader">About AMP</canvas>{% endblock %}

{% block header %} The Agile Music Project - AMP {%endblock%}

{% block pageClass %}aboutPage{% endblock %}

{% block content %}

<br/>

<p class="pageText">A few Improving Enterprise employees (Improvers) found that we all enjoy playing 
  musical instruments.  So, we formed a band and started having monthly Jam sessions.  After a couple of months, a 
  friend invited us to an open mic night at a local bar.  We did get on stage and, as we had done in our Jam 
  Sessions, one of us started a riff and the rest joined in.  We performed two different jams and gave up the stage.
  After we left the stage two solo acts took the stage.  They performed covers of pretty well known songs and one of
  them had his own material.  The crowd seemed to get into them more than what we were playing.  The next time we 
  were invited we never even got the chance to get on stage.  The first band up had a full set play list and 
  everyone was enjoying them so much that they continued playing most of the evening. </p>

<p class="pageText">Even though we enjoyed what we were playing we thought we’d also like the audience to get
  into it.  It could also possibly afford us more opportunity to play.  So, we agreed to start learning covers and 
  maybe create a set play list.  It was a rocky start and we seemed to limp along for a couple of months.  We could 
  never agree on what to play.  Then it struck Ed like a bolt of lightning – being the geeks we are why not practice
  what we preach.  We do Agile every day for our software development projects so why not do it for our music.  The 
  rest of the band agreed and then we only had the challenge of adapting our Agile for Software projects to Agile for
  a Music project. </p>

<p class="pageText">Agile with the scrum framework seemed best suited for our project.   Our first order of business
  was to create a backlog….or so we thought.  How do we pick songs?  How do we prioritize them?  We were used to
  cross-functional teams but how do we ensure quality.  We agreed quality was the most important so we started there. 
  It was decided that Rock Smith would be our standard.    The first hiccup was that drums were not offered with Rock
  Smith.  Fortunately, our Drummer, Brian, had played with groups in the past and was accomplished to the point that
  he could pick up the part separately.  So,  when Mike (guitar), Josh (guitar), Bud (Bass) and Ed (Bass) learned 
  songs that were available via that tool then, when we got together to play if we thought something was off, we could
  each play with Rock Smith to gauge each individuals accuracy.</p>

<p class="pageText">We agreed to be co-product owners and dot vote from the available songs to create a product
  backlog.  We also agreed that two-week sprints would be good.  At the end of each sprints we’d demo (play the song 
  or portions of songs we’d learned), have a retrospective, and do planning for the next sprint.  During planning we
  break down songs into “tasks” which  are the portions of the songs we feel are learnable within the sprint.  We 
  story point them just as any Agile with scrum project would do and we hold each other accountable.</p>

<p class="pageText">The methodology has done us well.  In our first six months we’ve gotten three covers and two 
  originals pretty well completed.  We’re still working on the electronics of good recording and added that to the 
  backlog as well.  It has been a fun and satisfying adventure for us and we’re not done yet.</p>


{% endblock %}