{% extends "base.twig" %}

{% block javascript %}
  <script src="/js/ckeditor/ckeditor.js"></script>
  <script src="/js/update-form.js"></script>
{% endblock %}

{% block onload %} drawAboutPostNote() {% endblock %}

{% block title %} About {% endblock %}

{% block postit %}<canvas id="aboutpostcard" class="postitheader">About</canvas>{% endblock %}

{% block header %} {{ title }} Content {%endblock%}

{% block content %}
<div id="aboutEditForm">
  <form method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
  <script>
    CKEDITOR.replace('form_content');
  </script>
</div>
{% endblock %}
