{% extends "base.twig" %}

{% block onload %} drawAgilePostNote() {% endblock %}

{% block title %} Agile {% endblock %}

{% block postit %}<canvas id="agilepostcard" class="postitheader">About Agile</canvas>{% endblock %}

{% block content %}

{% if is_granted('ROLE_ADMIN') %}
  <form>
    <input class="addButton" onclick="location.href='/agile/add'" type="button" value="Add Content"/>
  </form>
{% endif %}
{% for row in results %}
  <p class="pageText">{{ row.content|raw }}</p>
  {% if is_granted('ROLE_ADMIN') %}
    <form>
      <input class="editButton" onclick="location.href='/agile/edit/{{ row.id }}'" type="button" value="Edit"/>
    </form>
    <form class="deleteBox" method="post" action="/agile/">
        <input class="deleteID" name="id" type="hidden" id="id" value="{{ row.id }}"/>
        <input class="deleteButton" onclick="return deletePopUp();" type="submit" value="Delete"/>
    </form>
  {% endif %}
{% endfor %}

{% endblock %}
