{% extends "base.twig" %}

{% block onload %} drawAgilePostNote() {% endblock %}

{% block title %} Agile {% endblock %}

{% block postit %}<canvas id="agilepostcard" class="postitheader">About Agile</canvas>{% endblock %}

{% block content %}

{% if is_granted('ROLE_ADMIN') %}
  <form>
    <input class="addButton" onclick="location.href='/agile/add'" type="button" value="Add Content"/>
  </form>
{% endif %}
{% for row in results %}
  <p class="agilePageText">{{ row.content|raw }}</p>
  {% if is_granted('ROLE_ADMIN') %}
    <form>
      <input class="editButton" onclick="location.href='/agile/edit/{{ row.id }}'" type="button" value="Edit"/>
    </form>
    <form>
      <input class="deleteButton" type="button" value="Delete">
    </form>
    <form class="dialogBox" method="post" action="/agile/">
      <input class="deleteID" name="id" type="hidden" id="id" value="{{ row.id }}">
      <input class="confirmButton" type="submit" value="Confirm Delete">
      <input class="cancelButton" type="button" value="Cancel Delete">
    </form>
  {% endif %}
{% endfor %}

{% endblock %}
