<!DOCTYPE HTML>
<html>

  <head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <script type="text/javascript" src="js/base.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav>
      <a href="/" alt="AMP Logo">
        <img src="images/AMP-Logo.png" width="200px" alt="AMP Logo" />
      </a>
      <!--<button onclick="visitMembersPage();" id="meetBandButton" type="button">Band Members Only!</button>-->
    </nav>
    <div style="clearer">
      <center><h1>{{ block('title') }}</h1></center>
      {% block content %} {% endblock %}
    </div>
  </body>

</html>