{% extends "base.twig" %}

{% block title %} Blog {% endblock %}

{% block postit %}
  <div id="blogHeader" class="postitheader">
    <div class="postitHeaderText">Blog</div>
  </div>
{% endblock %}

{% block content %}
{% endblock %}
