{% extends "base.twig" %}

{% block javascript %}
  <script src="/js/contact-us.js"></script>
{% endblock %}

{% block onload %} drawContactPostNote() {% endblock %}

{% block title %} Contact Us {% endblock %}

{% block postit %}<canvas id="contactuspostcard" class="postitheader">Contact Us</canvas>{% endblock %}

{% block header %}Contact AMP{%endblock%}

{% block content %}

{% if notification == true %}
  <h1>Your message was sent successfully.</h1>
{% elseif notification == false %}
  <h1>We were not able to send your message. Your form may be invalid.</h1>
{% endif %}

<div id="contactBand">
  <p class="pageHeader">Fill out the form below to contact AMP</p>
</div>

<div id="contactForm">
  <form class="contactPageText" method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}
