{% extends "base.twig" %}

{% block onload %} drawContactPostNote() {% endblock %}

{% block title %} Contact Us {% endblock %}

{% block postit %}<canvas id="contactuspostcard" class="postitheader">Contact Us</canvas>{% endblock %}

{% block header %}Contact AMP{%endblock%}

{% block content %}

<br/>

<p class="pageText">To contact The Agile Music Project email us at info@agilemusicproject.com</p>
<div id="contactBand">
  <p class="pageHeader">To contact the Band Members</p>
  <p id="Briancontact" class="contactPageText">Drums:<br> 
    Brian Zwahr<br>
    TheDrummer@agilemusicproject.com
  </p>
  <p id="Joshcontact" class="contactPageText">Lead Guitar:<br> 
    Josh Rizzo<br>
    TheGuitarGuy@agilemusicproject.com
  </p>
  <p id="Mikecontact" class="contactPageText">Rhythm Guitar:<br> 
    Mike Abney<br>
    mike@agilemusicproject.com
  </p>
  <p id="Edcontact" class="contactPageText">Bass:<br> 
    Ed (Papa Ed) Grannan<br>
    PapaEd@agilemusicproject.com
  </p>
  <p id="Budcontact" class="contactPageText">Bass:<br> 
    Bud <br>
    TheOtherBassist@agilemusicproject.com
  </p>
</div>

<div id="contactForm">
  <form class="contactPageText" method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}