{% extends "base.twig" %}

{% block onload %} drawContactPostNote() {% endblock %}

{% block title %} Contact Us {% endblock %}

{% block postit %}<canvas id="contactuspostcard" class="postitheader">Contact Us</canvas>{% endblock %}

{% block header %}Contact The AMP Band Members{%endblock%}

{% block content %}

<br/>

<p class="pageText">To contact <a id="infoemail" href="mailto:info@agilemusicproject.com">The Agile Music Project</a>
  email us at info@agilemusicproject.com
</p>

<p class="pageHeader">To contact the Band Members</p>

<p class="aboutPageText">Drums:<br/>
  <a id="brianemail" href="mailto:TheDrummer@agilemusicproject.com">Brian Zwahr</a><br/>
  TheDrummer@agilemusicproject.com
</p>

<p class="aboutPageText">Lead Guitar:<br/>
  <a id="joshemail" href="mailto:TheGuitarGuy@agilemusicproject.com">Josh Rizzo</a><br/>
  TheGuitarGuy@agilemusicproject.com
</p>

<p class="aboutPageText">Rhythm Guitar:<br/>
  <a id="mikeemail" href="mailto:info@agilemusicproject.com">Mike Abney</a><br/>
  @agilemusicproject.com
</p>

<p class="aboutPageText">Bass:<br/>
  <a id="edemail" href="mailto:PapaEd@agilemusicproject.com">Ed (Papa Ed) Grannan</a><br/>
  PapaEd@agilemusicproject.com
</p>

<p class="aboutPageText">Bass:<br/>
  <a id="budemail" href="mailto:TheOtherBassist@agilemusicproject.com">Bud</a><br/>
  TheOtherBassist@agilemusicproject.com
</p>
{% endblock %}