{% extends "base.twig" %}

{% block onload %} drawContactPostNote() {% endblock %}

{% block title %} Contact Us {% endblock %}

{% block postit %}<canvas id="contactuspostcard" class="postitheader">Contact Us</canvas>{% endblock %}

{% block header %}Contact AMP{%endblock%}

{% block content %}

{% if notification %}
  <h1>{{ notification }}</h1>
{% endif %}

<p class="pageText">To contact The Agile Music Project email us at info@agilemusicproject.com</p>
<div id="contactBand">
  <p class="pageHeader">Fill out the form below to contact AMP</p>
</div>

<div id="contactForm">
  <form class="contactPageText" method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
  <script>
    CKEDITOR.replace('form_message');
  </script>
</div>
{% endblock %}
