{% extends "base.twig" %}

{% block title %} Create Account {% endblock %}

{% block header %}Create Account{%endblock%}

{% block content %}

<form class="createAccountForm" method="POST" enctype="multipart/form-data">
  {{ form_errors(form) }}
  {{ form_widget(form) }}
  {{ form_rest(form) }}
</form>

{% endblock %}
