{% extends "base.twig" %}

{% block title %} We're sorry. Something blew up. {% endblock %}

{% block content %}

{% if errorMessage %}
  <h1 style="color:red;">{{ errorMessage }}</h1>
{% else %}
  <h1 style="color:red;">We're sorry. Something went wrong.</h1>
{% endif %}

{% endblock %}
