<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <!--<meta http-equiv="refresh" content="5;url=http://www.improvingenterprises.com/" /> -->
  </head>
  <body>
    <a href="/music">Music</a>
    <a href="/agile">What is Agile?</a>
    <a href="/meetTheBand">Meet the Band</a>
    <a href="/photos">Photos</a>
    <a href="/blog">Blog</a>
    <a href="/contactus">Contact Us</a>
  </body>
</html>
