<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <script type="text/javascript" src="js/post-note.js"></script>
    <!--<meta http-equiv="refresh" content="5;url=http://www.improvingenterprises.com/" /> -->
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div>
      <a id="musiclink" href="/music">
        <canvas id="musicpostcard">  
        </canvas>
      </a>
    
      <a id="agilelink" href="/agile">
        <canvas id="agilepostcard">
        </canvas>
      </a>
   
      <a id="meetTheBandlink" href="/meetTheBand">
        <canvas id="meetTheBandpostcard">  
        </canvas>
      </a>
      
      <a id="photoslink" href="/photos">
        <canvas id="photospostcard">  
        </canvas>
      </a>
      
      <a id="bloglink" href="/blog">
        <canvas id="blogpostcard">    
        </canvas>
      </a>
      
      <a id="contactuslink" href="/contactus">
        <canvas id="contactuspostcard">
        </canvas>
      </a>
      
      <a id="aboutlink" href="/about">
        <canvas id="aboutpostcard">
        </canvas>
      </a>
    </div>
  </body>
  <script>
    window.onload = function()
    {
      drawPostNote( "musicpostcard", 10, 10, "Music");
      drawPostNote( "agilepostcard", 10, 10, "Agile");
      drawPostNote( "meetTheBandpostcard", 10, 10, "The Band");
      drawPostNote( "photospostcard", 10, 10, "Photos");
      drawPostNote( "blogpostcard", 10, 10, "Blog");     
      drawPostNote( "contactuspostcard", 10, 10, "Contact Us");
      drawPostNote( "aboutpostcard", 10, 10, "About us");
    };
  </script>
</html>