<!DOCTYPE html>

<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/post-note.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body id="index_body">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <a href="{{ path('admin_logout') }}">Logout</a>
    {% endif %}
    <div id="menu_parent">
      <img src="images/AMP-Logo.png" alt="AMP Logo" id="bgLogo" />
      <div class="menuPostIt" id="menu">
        <a id="musiclink" href="/music">
          <div id="musicpostcard" class="postit">
            <div class="postitText">Our Music</div>
          </div>
        </a>
        <a id="agilelink" href="/agile">
          <div id="agilepostcard" class="postit">
            <div class="postitText">About Agile</div>
          </div>
        </a>
        <a id="meetTheBandlink" href="/meettheband">
          <div id="meetTheBandpostcard" class="postit">
            <div class="postitText">Meet<br> the Band</div>
          </div>
        </a>
        <a id="photoslink" href="/photos">
          <div id="photospostcard" class="postit">
            <div class="postitText">Photos</div>
          </div>
          </a>
        <a id="bloglink" href="/blog">
          <div id="blogpostcard" class="postit">
            <div class="postitText">Blog</div>
          </div>
        </a>
        <a id="contactuslink" href="/contactus">
          <div id="contactuspostcard" class="postit">
            <div class="postitText">Contact Us</div>
          </div>
          </a>
        <a id="aboutlink" href="/about">
          <div id="aboutpostcard" class="postit">
            <div class="postitText">About Us</div>
          </div>
          </a>
        <a id="newslink" href="/news">
          <div id="newspostcard" class="postit">
            <div class="postitText">Our News</div>
          </div>
          </a>
      </div>
    </div>
  </body>
</html>
