{% extends "base.twig" %}

{% block content %}
  <a href="/music.html">Music</a>
  <a href="/agile.html">What is Agile?</a>
  <a href="/meetTheBand.html">Meet the Band</a>
  <a href="/photos.html">Photos</a>
  <a href="/blog.html">Blog</a>
  <a href="/contactus.html">Contact Us</a>
{% endblock %}