{% extends "base.twig" %}

{% block content %}
  <a href="/music">Music</a>
  <a href="/agile">What is Agile?</a>
  <a href="/meettheband">Meet the Band</a>
  <a href="/phots">Photos</a>
  <a href="/blog">Blog</a>
  <a href="/contactus">Contact Us</a>
{% endblock %}