<!DOCTYPE html>

<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <script type="text/javascript" src="js/post-note.js"></script>
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body onload="drawIndexPage()" id="index_body">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <a href="{{ path('admin_logout') }}">Logout</a>
    {% else %}
      <a href="/login">Login</a>
    {% endif %}
    <div id="menu_parent">
      <img src="images/AMP-Logo.png" alt="AMP Logo" id="bgLogo" />
      <div id="menu">
        <a id="musiclink" href="/music">
          <canvas id="musicpostcard" class="postit">Our Music</canvas>
        </a>
        <a id="agilelink" href="/agile">
          <canvas id="agilepostcard" class="postit">About Agile</canvas>
        </a>
        <a id="meetTheBandlink" href="/meettheband">
          <canvas id="meetTheBandpostcard" class="postit">Meet the Band</canvas>
        </a>
        <a id="photoslink" href="/photos">
          <canvas id="photospostcard" class="postit">Photos</canvas>
        </a>
        <a id="bloglink" href="/blog">
          <canvas id="blogpostcard" class="postit">Blog</canvas>
        </a>
        <a id="contactuslink" href="/contactus">
          <canvas id="contactuspostcard" class="postit">Contact Us</canvas>
        </a>
        <a id="aboutlink" href="/about">
          <canvas id="aboutpostcard" class="postit">About Us</canvas>
        </a>
        <a id="newslink" href="/news">
          <canvas id="newspostcard" class="postit">Our News</canvas>
        </a>
      </div>
    </div>
  </body>
</html
