{% extends "base.twig" %}

{% block javascript %}
  <script src="/js/login-form.js"></script>
{% endblock %}

{% block title %}Login Page{% endblock %}

{% block header %}Login Page{% endblock %}

{% block content %}
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  <form class="loginForm" action="{{ path('admin_login_check') }}" method="post">
    {{ error }}
    <label>Username:</label>
    <input type="text" name="_username" class="loginFormField" placeholder="Username" />
    <label>Password:</label>
    <input type="password" name="_password" class="loginFormField" placeholder="Password" />
    {% if not (lastPage) is null %}
      <input type="hidden" name="_target_path" value="{{ lastPage }}" />
    {% endif %}
    <input type="submit" value="Login" class="loginFormField" />
  </form>
{% endif %}
{% endblock %}
