{% extends "base.twig" %}

{% block title %}Band Members Page{% endblock %}

{% block content %}
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  <form action="{{ path('photos_login_check') }}" method="post">
    {{ error }}
    <input type="text" name="_username" value="" />
    <input type="password" name="_password" value="" />
    <input type="submit" />
  </form>
{% endif %}
{% endblock %}
