{% extends "base.twig" %}

{% block title %}Login Page{% endblock %}

{% block header %}Login Page{% endblock %}

{% block content %}
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  <form class="loginForm" action="{{ path('admin_login_check') }}" method="post">
    {{ error }}
    Username:
    <input type="text" name="_username" value="" placeholder="Username" />
    Password:
    <input type="password" name="_password" value="" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>
{% endif %}
{% endblock %}
