{% extends "base.twig" %}

{% block onload %} drawBandPostNote() {% endblock %}

{% block title %} Meet the Band {% endblock %}

{% block postit %}<canvas id="meetTheBandpostcard" class="postitheader">Meet the Band</canvas>{% endblock %}

{% block header %} Update the Meet the Band Page {%endblock%}

{% block content %}
<script type="text/javascript" src="/js/text-area.js"></script>
<div id="meetTheBandUpdateForm">
  <form method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
  <button onclick="insertAtCursor(document.getElementById('form_bio'),'Test Text')">Add Test Text</button> 
</div>
{% endblock %}
