{% extends "base.twig" %}

{% block onload %} drawBandPostNote() {% endblock %}

{% block title %} Meet the Band {% endblock %}

{% block postit %}<canvas id="meetTheBandpostcard" class="postitheader">Meet the Band</canvas>{% endblock %}

{% block header %} {{ title }} Band Member {%endblock%}

{% block content %}
<<<<<<< HEAD
=======
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/update-form.js"></script>
>>>>>>> rawilder
<div id="meetTheBandUpdateForm">
  <form method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
  <script>
    {% if page == 'update' %}
      photoOptions();
      showOptions();
      hideFileInput();
    {% endif %}
    CKEDITOR.replace('form_bio');
  </script>
</div>
{% endblock %}
