{% extends "base.twig" %}

{% block onload %} drawBandPostNote() {% endblock %}

{% block title %} Meet the Band {% endblock %}

{% block postit %}<canvas id="meetTheBandpostcard" class="postitheader">Meet the Band</canvas>{% endblock %}

{% block header %}Meet The AMP Band Members{%endblock%}

{% block content %}

<br/>

<p id="Brianbio" class="meetBandPageText">Drums:<br/>
  Brian Zwahr<br/>
</p>

<p id="Joshbio" class="meetBandPageText">Lead Guitar:<br/>
  Josh Rizzo<br/>
</p>

<p id="Mikebio" class="meetBandPageText">Rhythm Guitar:<br/>
  Mike Abney<br/>
</p>

<p id="Edbio" class="meetBandPageText">Bass:<br/>
  Ed (Papa Ed) Grannan<br/>
</p>

<p id="Budbio" class="meetBandPageText">Bass:<br/>
  Bud<br/>
</p>


{% endblock %}
