{% extends "base.twig" %}

{% block onload %} drawBandPostNote() {% endblock %}

{% block title %} Meet the Band {% endblock %}

{% block postit %}<canvas id="meetTheBandpostcard" class="postitheader">Meet the Band</canvas>{% endblock %}

{% block header %}Meet The AMP Band Members{%endblock%}

{% block content %}

<br/>

<p id="Brianbio" class="meetBandPageText">Drums:<br/>
  Brian Zwahr<br/>
  <a id="Brianemail" href="mailto:TheDrummer@agilemusicproject.com">TheDrummer@agilemusicproject.com</a>
</p>

<p id="Joshbio" class="meetBandPageText">Lead Guitar:<br/>
  Josh Rizzo<br/>
  <a id="Joshemail" href="mailto:TheGuitarGuy@agilemusicproject.com">TheGuitarGuy@agilemusicproject.com</a>
</p>

<p id="Mikebio" class="meetBandPageText">Rhythm Guitar:<br/>
  Mike Abney<br/>
  <a id="Mikeemail" href="mailto:mike@agilemusicproject.com">mike@agilemusicproject.com</a>
</p>

<p id="Edbio" class="meetBandPageText">Bass:<br/>
  Ed (Papa Ed) Grannan<br/>
  <a id="Edemail" href="mailto:PapaEd@agilemusicproject.com">PapaEd@agilemusicproject.com</a>
</p>

<p id="Budbio" class="meetBandPageText">Bass:<br/>
  Bud<br/>
  <a id="Budemail" href="mailto:TheOtherBassist@agilemusicproject.com">TheOtherBassist@agilemusicproject.com</a>
</p>


{% endblock %}