{% extends "base.twig" %}

{% block onload %} drawMusicPostNote() {% endblock %}

{% block title %} Our Music {% endblock %}

{% block javascript %}
<script src="/js/sort-music.js"></script>
{% endblock %}

{% block postit %}<canvas id="musicpostcard" class="postitheader">Our Music</canvas>{% endblock %}

{% block header %}Our Music{%endblock%}

{% block content %}

<ul id="sortMusic">
  {% for row in results %}
  <li class="musicPageText" id="music-{{row.id}}">
    <div class="dotsSection">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
      <div class="musicIframe">{{ row.embed|raw }}</div>
  </li>
  {% endfor %}
</ul>
<form action="/music">
  <input id="sortSubmit" type="submit" value="Finalize Sorting">
</form>
{% endblock %}
