{% extends "base.twig" %}

{% block onload %} drawMusicPostNote() {% endblock %}

{% block title %} Our Music {% endblock %}

{% block javascript %}
  <script src="/js/sort-music.js"></script>
{% endblock %}

{% block postit %}<canvas id="musicpostcard" class="postitheader">Our Music</canvas>{% endblock %}

{% block header %}Our Music{%endblock%}

{% block content %}

<ul id="sortMusic">
  {% for row in results %}
    <li class="musicPageText" id="music-{{row.song_order}}">{{ row.embed|raw }}</p>
  {% endfor %}
</ul>
<form method="post" action="/music/update">
    <input id="sortSubmit" type="submit" value="Submit Songs">
</form>
{% endblock %}
