{% extends "base.twig" %}

{% block onload %} drawMusicPostNote() {% endblock %}

{% block title %} Our Music {% endblock %}

{% block postit %}<canvas id="musicpostcard" class="postitheader">Our Music</canvas>{% endblock %}

{% block header %}Our Music{%endblock%}

{% block content %}

{% if is_granted('ROLE_ADMIN') %}
  <form>
    <input onclick="location.href='/music/add'" type="button" value="Add Music"/>
  </form>
{% endif %}
{% for row in results %}
  <p class="musicPageText">{{ row.embed|raw }}</p>
  {% if is_granted('ROLE_ADMIN') %}
    <form>
      <input onclick="location.href='/music/edit/{{ row.id }}'" type="button" value="Edit"/>
    </form>
    <form method="post" action="/music/">
      <input class="deleteID" name="id" type="hidden" id="id" value="{{ row.id }}">
      <input type="submit" value="Delete">
    </form>
  {% endif %}
{% endfor %}
{% endblock %}
