{% extends "base.twig" %}

{% block javascript %}
  <script src="/js/ckeditor/ckeditor.js"></script>
  <script src="/js/update-form.js"></script>
{% endblock %}

{% block onload %} drawNewsPostNote() {% endblock %}

{% block title %} Latest News {% endblock %}

{% block postit %}<canvas id="newspostcard" class="postitheader">Our News</canvas>{% endblock %}

{% block header %} {{ title }} Content {%endblock%}

{% block content %}
<div id="newsEditForm">
  <form method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
  <script>
    CKEDITOR.replace('form_content');
  </script>
</div>
{% endblock %}
