{% extends "base.twig" %}

{% block onload %} drawPhotoPostNote() {% endblock %}

{% block title %} Photos {% endblock %}

{% block postit %}<canvas id="photopostcard" class="postitheader">About</canvas>{% endblock %}

{% block header %} {{ title }} Photos {%endblock%}

{% block content %}
<div id="aboutEditForm">
  <form method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}
