.clearer {
  clear: both;
}

.aboutText {
  width: 900px;
}

#meetBandButton {
  float: right;
  margin: 50px 50px 100px 50px;
}

#indexAMP-Logo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: auto;
  height: 400px;
}

body {
  background: url(../images/whiteboard_v3.png) no-repeat center center fixed;
  background-size: cover;
  min-width: 1000px;
}

#index_body {
  padding-top: 5%;
}

#menu_parent {
  position: relative;
}

#bgLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  min-width: 250px;
}

.postit {
  display: block;
  width: 15%;
  min-width: 150px;
  display: inline-block;
  position: absolute;
  top: 0;
}

#musicpostcard {
  top: 30%;
  right: 3%;
}

#agilepostcard {
  top: -20%;
  left: 20%;
}

#meetTheBandpostcard {
  top: 80%;
  left: 5%;
}

#photospostcard {
  top: 5%;
  right: 22%;
}

#blogpostcard {
  top: 170%;
  left: 42%;
}

#contactuspostcard {
  top: 130%;
  left: 23%;
}

#aboutpostcard {
  top: 140%;
  right: 20%;
}


