@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Nunito);

.clearer {
  clear: both;
}

.hidden {
  display: none;
}

.pageText {
  max-width: 900px;
  display: table;
  width: 100%;
}

textarea {
  vertical-align: top;
  height: 200px;
  width: 50%;
}

a.imageLink {
  text-decoration: none;
}

.preview {
  width: 200px;
}

.photoContainer {
    display: inline-block;
    max-width: 220px;
    vertical-align: top;
}

.caption {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

#galleryTab {
  padding-left: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid;
  margin-right: 5px;
}

.active {
  background-color: #96CDCD;
}

.fancyphoto {
  display: inline;
  max-width: 200px;
  padding-right: 3px;
  padding-left: 3px;
}

.pageText, .title, .photosPage, .bandMemberEntry, .aboutPageText, .pageHeader {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 20px;
}

.passwordText {
  -webkit-text-security: disc;
}

.formLabel {
  display: block;
}

.aboutPageText {
  max-width: 900px;
}

.bandMemberEntry {
  max-width: 900px;
  margin-bottom: 0;
}

.pageHeader {
  max-width: 900px;
  font-size: 20px;
  text-align: left;
}

.deleteID {
  display: none;
}

#navLogo {
  max-width: 200px;
  min-width: 200px;
}

nav {
  float: left;
  position: relative;
}

#logocontainer.headernav {
  text-align: left;
  padding-left: 10px;
}

#postitcontainer.headernav {
  padding-top: 10px;
  padding-right: 10px;
}

body {
  background: url(/images/whiteboard_v3.png) no-repeat center center fixed;
  background-size: cover;
  min-width: 900px;
  font-family:  'Nunito', 'Calibri', 'Open Sans','Cambria', sans-serif;
}

.photosPage {
  max-width: 1100px;
  text-align: left;
}

.title {
  text-align: center;
}

.loginFormField {
  display: block;
}

.postitheader {
  width: 200px;
}

#menu_parent {
  position: relative;
  padding-top: 5%;
}

#bgLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  min-width: 250px;
}

.postit {
  display: block;
  width: 15%;
  min-width: 175px;
  display: inline-block;
  position: absolute;
  top: 0;
}

#musicpostcard {
  top: 30%;
  right: 3%;
}

#agilepostcard {
  top: -2%;
  left: 20%;
}

#meetTheBandpostcard {
  top: 80%;
  left: 5%;
}

#photospostcard {
  top: 5%;
  right: 20%;
}

#blogpostcard {
  top: 100%;
  right: 30%;
}

#contactuspostcard {
  top: 120%;
  left: 23%;
}

#aboutpostcard {
  top: 130%;
  right: 12%;
}

@media screen and (max-width: 900px) {
  body {
    min-width: 500px;
  }

  #bgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    min-width: 150px;
    top: 10px;
  }

  .postit {
    display: block;
    width: 20%;
    min-width: 150px;
    display: inline-block;
    position: absolute;
    top: 0;
  }

  #musicpostcard {
    top: 80%;
    right: 10%;
  }

  #agilepostcard {
    top:  -2%;
    left: 10%;
  }

  #meetTheBandpostcard {
    top: 80%;
    left: 10%;
  }

  #photospostcard {
    top: -20%;
    right: 10%;
  }

  #blogpostcard {
    top: 180%;
    left: 35%;
    margin-left: 2.5%;
  }

  #contactuspostcard {
    top: 180%;
    left: 10%;
  }

  #aboutpostcard {
    top: 180%;
    right: 10%;
  }
}

div.img {
  display: inline-block;
  margin:5px;
  padding: 5px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

div.img img {
  display: inline-block;
  margin: 5px;
  border: 1px solid #ffffff;
  height: auto;
  width: 150px;
}

div.img a:hover img {
  border: 1px solid #0000ff;
}

#cke_form_bio, #cke_form_message {
  max-width: 800px;
}

.musicPageText {
  list-style-type: none;
  cursor: move;

}

.musicIframe {
  margin-left: 75px
}

.dotsSection {
  float: left;
  vertical-align: middle;
}

.dots {
  background: #555;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px;
  border-style: outset;
}

#newspostcard {
  top: 110%;
  left: 40%;
}

.newsData {
  text-align: right;
  font-size: x-large;
}

#musicAdd {
  padding-left: 30px;
}
