@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Nunito);

.clearer {
  clear: both;
}

.pageText {
  max-width: 900px;
}

.pageText, .title, .photosPage, .meetBandPageText, .aboutPageText, .pageHeader {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.aboutPageText {
  max-width: 900px;
}

.meetBandPageText {
  max-width: 900px;
}

.pageHeader {
  max-width: 900px;
  font-size: 20px;
  text-align: left;
}

#contactForm {
  max-width: 1px;
}

#contactBand {
}

#meetBandButton {
  float: right;
  margin: 50px 50px 100px 50px;
}

#navLogo {
  max-width: 100px;
  min-width: 100px;
}

nav {
  position: relative;
}

#logocontainer.headernav {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}

#postitcontainer.headernav {
  padding-top: 10px;
  padding-right: 10px;
  right: -10px;
  top: -10px;
  position: absolute;
}

body {
  background: url(../images/whiteboard_v3.png) no-repeat center center fixed;
  background-size: cover;
  min-width: 900px;
  font-family:  'Nunito', 'Calibri', 'Open Sans','Cambria', sans-serif;
}

.photosPage {
  max-width: 1100px;
  text-align: left;
}

.title {
  padding-top: 50px;
  text-align: center;
}

.postitheader {
  width: 200px;
}

#index_body {
  padding-top: 5%;
}

#menu_parent {
  position: relative;
}

#bgLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  min-width: 250px;
}

.postit {
  display: block;
  width: 15%;
  min-width: 175px;
  display: inline-block;
  position: absolute;
  top: 0;
}

#musicpostcard {
  top: 30%;
  right: 3%;
}

#agilepostcard {
  top: -20%;
  left: 20%;
}

#meetTheBandpostcard {
  top: 80%;
  left: 5%;
}

#photospostcard {
  top: 5%;
  right: 20%;
}

#blogpostcard {
  top: 100%;
  right: 30%;
}

#contactuspostcard {
  top: 120%;
  left: 23%;
}

#aboutpostcard {
  top: 130%;
  right: 12%;
}

@media screen and (max-width: 900px) {
  body {
    min-width: 500px;
  }

  #bgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    min-width: 150px;
    top: 10px;
  }

  .postit {
    display: block;
    width: 20%;
    min-width: 150px;
    display: inline-block;
    position: absolute;
    top: 0;
  }

  #musicpostcard {
    top: 80%;
    right: 10%;
  }

  #agilepostcard {
    top: -20%;
    left: 10%;
  }

  #meetTheBandpostcard {
    top: 80%;
    left: 10%;
  }

  #photospostcard {
    top: -20%;
    right: 10%;
  }

  #blogpostcard {
    top: 180%;
    left: 35%;
    margin-left: 2.5%;
  }

  #contactuspostcard {
    top: 180%;
    left: 10%;
  }

  #aboutpostcard {
    top: 180%;
    right: 10%;
  }
}

div.img {
  display: inline-block;
  margin:5px;
  padding: 5px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

div.img img {
  display: inline-block;
  margin: 5px;
  border: 1px solid #ffffff;
  height: auto;
  width: 150px;
}

div.img a:hover img {
  border: 1px solid #0000ff;
}
